doctype html
html(lang='en')
  head

    meta(charset='utf-8')
    title jQuery Basics
    link(rel='stylesheet', href='/css/app.css')

  body

    h1 jQuery Basics
    h2 H2 TITLE
    h3 H3 changes color with button
    p Buttons below to practice jQuery basics.

    input#tb1(type='text' placeholder='type color to change h3')

    button#btn BAD STYLE CHANGES
    button#btn2 CHANGE BUTTON-1 TEXT
    button#btn3 ALERT ME!
    button#btn4 ALL SAFE
    button#btn5 TOGGLE ALERT
    button#btn6 CHANGE h1 TEXT
    button#btn7 CHANGE H3 COLOR

    script(src='/js/vendor/jquery-2.1.0.js')
    script(src='/js/source/main.js')
